.accordion-container {
  color: black;
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 1rem;
}

.item-container {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accordion-btn {
  background: none;
  color: #1a7f37;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.accordion-content {
  text-align: justify;
  padding-right: 5rem;
}
