.navbar-container {
  background-color: #25292e;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  font-style: normal;
}

.navbar-texts {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  gap: 1rem;
}

.navbar-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  font-style: normal;
}

.navbar-btn {
  display: flex;
  border-radius: 5px;
  border: 1px solid white;
  padding: 2px;
  height: 32px;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  background-color: transparent;
  color: white;
}