.App {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: white;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #24292f;
}

.main-container {
  background-color: white;
  min-height: 80vh;
  display: flex;
  justify-content: center;
}
